@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
}

html, body{
    height:100vh;
    width:100%;
}
body{
    background-color: rgb(13, 13, 13);
    color:rgb(255, 255, 255);
}

nav{
    background-color: rgb(13, 13, 13);
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    padding:0 5vw;
    top:0;
    z-index:1;
    border-bottom:1px solid rgb(48, 48, 48);
}

.right>ul{
    display:flex;
    gap:30px;
}
.right>ul>li{
    list-style: none;
}
.right a{
    font-size:smaller;
    text-decoration: none;
    color:white;
}
.right ul li:hover{
    transform: scale(110%);
}
.left{
    font-size:1.5rem;
    font-weight:600
}

main{
    width:100%;
}
main hr{
    border:1px solid rgb(48, 48, 48);
    margin:0 5vw;
}
.firstSection{
    height:100vh;
    padding:0 5vw;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.projects a{
    height: 30px;
    width: 30px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.projects a:hover{
    background-color: gray;
    transform: scale(110%);
    transition:1s ease;
}
.leftSection{
    width:55%;
    padding-left:12vw;
    display:flex;
    align-items:center;
}
.leftSection h1{
    font-size:2.3rem;
    font-weight:100;
}
.purple{
    color:rgb(97, 97, 253);
    font-weight:600;
}
.rightSection{
    width:40%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.rightSection img{
    width:80%;
    height:60%;
    object-fit: cover;
    animation-name:anime;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        transform: translateY(-1%);
    }
    50%{
        transform: translateY(1%);
    }
    100%{
        transform: translateY(-1%);
    }
}

.secondSection{
    height:100vh;
    width:100%;
    padding:0 5vw;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.headingProject{

}
.headingProject p{
    opacity:0.4;
    margin-bottom:1vh;
}
.headingProject h1{
    font-size:2.3rem;
    font-weight:600;
}
.projects{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:10vh;
}
.projectsName{
    height:40vh;
    width:30%;
    background-color: rgb(107, 107, 109);
    border-radius:10px;
    position: relative;
    overflow:hidden;
}
.projectsName img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}
.projectsName:hover>img{
    transform:scale(111%);
    transition:ease 0.5s;
}
.projectDetails{
    position:absolute;
    top:0;
    border-radius:10px;
    width:100%;
    height:100%;
    background:linear-gradient(rgb(61, 61, 61), rgb(16, 16, 16));
    transform:translateY(100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0.95;
    padding:0 20px;
    gap:20px;
    text-align:center;
}
.projectsName:hover .projectDetails{
    transform:translate(0);
    transition: 0.5s ease;
}
